.pie div {
    height:80%;
    max-width:70%;

}
.pie {
    
    justify-content: space-between;
    font-size: 19px;
    text-decoration: none;
    margin: 50px;
    text-indent: 30px;
    line-height: 1.4;
}
.pie ul {
    
    justify-content: center;
    text-decoration: none;
    display: table;
}
.pie p {
    line-height: 1.75;
}